<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>delete-ci-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B89822FF1B4D5CB800DDADF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B89823131B4D5CB800DDADF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B898231E1B4D5CB800DDADF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
